@{
    ViewData["Title"] = "About";
    ViewData["Message"] = Localizer["Technological Management Platform for Mussel Farming Sector"].Value;
}

<partial name="_Pg" />
<partial name="_YouTube" />
<partial name="_NanoGallery2" />

@section Headers{
    <!-- Carousel wrapper -->
    <div id="aboutCarousel" class="carousel slide carousel-fade shadow-2-strong" data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="mask">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center">
                            <h3 class="mt-0 text-justify">
                                @Localizer["Electronic Library and Platform for Digital Management of <i>Mytilus chilensis</i> Resource."]
                            </h3>
                            <p class="text-justify small d-none d-sm-block">
                                @Localizer["A Tool of"] <strong><a target="_blank" rel="noopener" href="https://www.amichile.com/">AmiChile</a></strong>,
                                @Localizer["financed by"] <strong><a target="_blank" rel="noopener" href="https://www.corfo.cl/">CORFO</a></strong>.
                                @Localizer["as part of the regional strategic program of mussels"] <strong><a target="_blank" rel="noopener" href="https://www.mejillondechile.cl/">PER</a></strong>
                                @Localizer["for"] <strong><a target="_blank" rel="noopener" href="http://www.intemit.cl/">INTEMIT</a></strong>
                                @Localizer["and developed by"] <strong><a target="_blank" rel="noopener" href="http://www.epicsolutions.cl">Epic Solutions</a></strong> @Localizer["through"]
                                <strong><a target="_blank" rel="noopener" href="http://www.capia.cl">CAPIA</a></strong>-<strong><a target="_blank" rel="noopener" href="http://www.ust.cl">UST</a></strong>.
                            </p>
                            <div class="row justify-content-between">
                                <a class="col-md-1 m-0 p-0 mb-3" href="https://www.amichile.com/" target="_blank" rel="noopener">
                                    <img src="~/images/ico/amichile.min.png" alt="AmiChile" height="37" width="74" />
                                </a>
                                <a class="col-md-2 m-0 p-0 mb-3" href="http://www.intemit.cl/" target="_blank" rel="noopener">
                                    <img src="~/images/ico/intemit.min.svg" alt="Intemit" height="37" width="180" />
                                </a>
                                <a class="col-md-1 m-0 p-0 mb-3" href="http://www.ust.cl/" target="_blank" rel="noopener">
                                    <img src="~/images/ico/ust_logo_firma.svg" alt="Icono UST" height="37" width="90" />
                                </a>
                                <a class="col-md-1 m-0 p-0 mb-3" href="http://www.capia.cl/" target="_blank" rel="noopener">
                                    <img src="~/images/ico/capia.min.png" alt="CAPIA" height="37" width="86" />
                                </a>
                                <a class="col-md-1 m-0 p-0 mb-3" href="https://www.epicsolutions.cl/" target="_blank" rel="noopener">
                                    <img src="~/images/ico/epic.min.png" alt="EPIC Solutions" height="37" width="66" />
                                </a>
                                <a class="col-md-2 m-0 p-0 mb-3" href="http://www.mejillondechile.cl/" target="_blank" rel="noopener">
                                    <img src="~/images/ico/mejillondechile.min.png" alt="mejillon de chile" width="109" height="37" />
                                </a>
                                <a class="col-md-1 m-0 p-0" href="https://www.corfo.cl/" rel="noopener" target="_blank">
                                    <img src="~/images/ico/corfo.svg" alt="corfo" class="logo-jumbo" width="95" height="37" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="mask">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center">
                            <h3 class="mt-0 text-justify">@ViewData["Message"]</h3>
                            <p class="text-justify small d-none d-sm-block fit-content">
                                @Localizer["A project from the <strong>Guild Association of Mussel Farmers of Chile</strong>"]
                                (<strong>
                                    <a target="_blank" href="http://www.amichile.com/" rel="noopener">
                                        <img src="~/images/ico/amichile.min.png" alt="amichile" class="img-fluid h-1-5em" />
                                        AmiChile
                                    </a>
                                </strong>),
                                @Localizer["financed by the <strong>Production Development Coorporation of Chile</strong>"]
                                (<strong>
                                    <a target="_blank" href="https://www.corfo.cl/" rel="noopener">
                                        <img src="~/images/ico/corfo.min.png" alt="corfo" class="img-fluid h-1-5em" />
                                        CORFO
                                    </a>
                                </strong>),
                                @Localizer[@"within the framework of project <i>Code 16 Node 70434 ""Science and Technology Node for the Mussel Farming Industry""</i> of the <strong>Strategic Regional Program for the Mussel Indutry</strong>"]
                                (<strong>
                                    <a target="_blank" href="http://www.mejillondechile.cl/" rel="noopener">
                                        <img src="~/images/ico/mejillondechile.min.png" alt="mejillon de chile" class="img-fluid h-1-5em" />
                                        MejillondeChile
                                    </a>
                                </strong>)
                                @Localizer["for the <strong>Technological Institute of Mussel Farming</strong>"]
                                (<strong>
                                    <a target="_blank" href="http://www.intemit.cl/" rel="noopener">
                                        <img src="~/images/ico/intemit.min.png" alt="intemit" class="img-fluid h-1-5em" />
                                        INTEMIT
                                    </a>
                                </strong>)
                                @Localizer["and developed by <strong>Guillermo Rodriguez Piccoli</strong>"]
                                (<strong>
                                    <a target="_blank" href="https://www.linkedin.com/in/guillermo-rodriguez-piccoli/" rel="noopener">
                                        <img src="~/images/socmedia/LinkedIn.svg" alt="epic solutions" class="img-fluid h-1-5em" />
                                    </a>
                                </strong>)
                                @Localizer["at <strong>Epic Solutions Consulting</strong>"]
                                (<strong>
                                    <a target="_blank" href="http://www.epicsolutions.cl" rel="noopener">
                                        <img src="~/images/ico/epic.min.png" alt="epic solutions" class="img-fluid h-1-5em" />
                                        Epic Solutions
                                    </a>
                                </strong>).
                                @Localizer["and managed by the <strong>Centre of Applied Research for Aquaculture and Fishery</strong>"]
                                (<strong>
                                    <a target="_blank" href="http://www.capia.cl" rel="noopener">
                                        <img src="~/images/ico/capia.min.png" alt="capia" class="img-fluid h-1-5em" />
                                        CAPIA
                                    </a>
                                </strong>)
                                @Localizer["of <strong>Saint Thomas University Chile</strong>"]
                                (<strong>
                                    <a target="_blank" href="http://www.ust.cl" rel="noopener">
                                        <img src="~/images/ico/ust.min.png" alt="ust" class="img-fluid h-1-5em" />
                                        UST
                                    </a>
                                </strong>)
                                <br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <!-- Single item -->
            <div class="carousel-item">
                <div class="mask">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center">
                            <iframe id="about-player"
                                    type="text/html"
                                    width="560" height="315" 
                                    src="https://www.youtube-nocookie.com/embed/Xx-qk-a4-fA" 
                                    title="YouTube video player" frameborder="0" 
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner -->
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

<div class="row">
    <div class="col-12">
        <h3>@Localizer["Objective"]:</h3>
        <p class="text-justify"><strong>BiblioMit</strong> @Localizer["is a management tool and connection portal between the mussel farming industry, academia, research and technology centers and institutes that have an essential role in the development of Applied Sciences for the Mussel Farming world"]</p>
        <p><strong>BiblioMit</strong> @Localizer["Consists of"]:</p>
        <ul class="text-justify fa-ul correct-ul">
            <li>
                <span class="fa-li"><i class="fas fa-comments fa-tw logo comments"></i></span>
                @Localizer["A forum for connection and exchange of ideas between stakeholders"]
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-search fa-tw logo search"></i></span>
                @Localizer["A search engine for multiple sources of scientific literature for the mussel farming industry at a national level (downloadable in digital format), including"]:
                <ul>
                    <li>
                        @Localizer["List of stakeholders and their contact details"]
                    </li>
                    <li>
                        @Localizer["Search engine of nationally published academical thesis"]
                    </li>
                    <li>
                        @Localizer["Search engine of scientific literature powered by Google Scholar"]
                    </li>
                    <li>
                        @Localizer["Search engine of nationally published research and development projects cathegorized by funding"]
                    </li>
                    <li>
                        @Localizer["Search engine of national grants and funding sources for research and development"]
                    </li>
                </ul>
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-map-marker-alt fa-tw logo map-marker-alt"></i></span>
                @Localizer["A collection of georeferenced data, including"]:
                <ul>
                    <li>
                        @Localizer["Oceanografic data such as Ocean Surface Temperature (OST), Ocean Acidification, Oxigen content, Salinity, histological findings and concentrations, and much more"]
                    </li>
                    <li>
                        @Localizer["Map of all research centers that have worked in mussel research"]
                    </li>
                    <li>
                        @Localizer["Map of all mussel farms, contacts and oceanografic data (paid service)"]
                    </li>
                </ul>
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-camera-retro fa-tw logo camera-retro"></i></span>
                @Localizer["Histopathological Database"]:
                <ul>
                    <li>
                        @Localizer["Catalogue of histopathological findings that affect the species"] <i>Mytilus chilensis</i>
                    </li>
                    <li>
                        @Localizer["Histopathological database of catalogued findings georeferenced (paid service)"]
                    </li>
                </ul>
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-chart-line fa-tw logo chart-line"></i></span>
                @Localizer["Digest"]:
                <ul>
                    <li>
                        @Localizer["Biyearly digest report of production and oceanografic statistics"]
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8" id="nanogallery2" data-nanogallery2='{
     "galleryResizeAnimation": true,
    "thumbnailHeight":          210,
    "thumbnailWidth":           "auto",
    "thumbnailL1GutterWidth":   90,
    "thumbnailL1GutterHeight":  90,
    "thumbnailBorderVertical":  0,
    "thumbnailBorderHorizontal":0,
    "itemsBaseURL":             "@Html.Raw(ViewData["Url"] as string)",
    "thumbnailStacks":          4,
    "thumbnailStacksRotateZ":   0.4,
     "thumbnailLabel": {
        "position":   "overImageOnMiddle",
          "titleMultiLine": true,
     "hideIcons": true,
     "align": "left"
        },
    "thumbnailBuildInit2":      "thumbnail_transform-origin_50% 150%",
    "thumbnailHoverEffect2":    "thumbnail_rotateX_0deg_10deg_easeOutBack_200 | thumbnail_rotateX_10deg_0deg_delay250_keyframe_hoverin_easeOutBack_400 | thumbnail_rotateY_0deg_20deg_easeOutQuad_150_hoverin|thumbnail_rotateY_20deg_-20deg_delay160_keyframe_hoverin_easeOutQuad_200|thumbnail_rotateY_-20deg_0deg_delay320_keyframe_hoverin_easeOutQuad_150|title_translateX_0px_20px_easeOutQuad_150_hoverin|title_translateX_20px_-20px_delay160_keyframe_hoverin_easeOutQuad_200|title_translateX_-20px_0px_delay320_keyframe_hoverin_easeOutQuad_150|description_translateX_0px_12px_easeOutQuad_150_hoverin|description_translateX_12px_-12px_delay160_keyframe_hoverin_easeOutQuad_200|description_translateX_-12px_0px_delay320_keyframe_hoverin_easeOutQuad_150 | toolsAppear | labelSlideUpTop",
     "album":                   "none",
     "thumbnailToolbarImage":{
     "topLeft":"share", "topRight":"download"
     }
}'>
        <a href="~/images/index-gallery/objetivo-ami-chile.jpg" data-ngThumb="/images/index-gallery/objetivo-ami-chile.jpg">@Localizer["Objective"]</a>
        <a href="~/images/index-gallery/Agenda.jpg" data-ngThumb="/images/index-gallery/Agenda.jpg">@Localizer["Science and Technology Agenda"]</a>
        <a href="~/images/index-gallery/Actores.jpg" data-ngThumb="/images/index-gallery/Actores.jpg">@Localizer["Map of stakeholders"]</a>
    </div>
</div>
