@model BiblioMit.Models.Company

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>&iquest;Est&aacute;s seguro que quieres eliminar esta Compa&ntilde;&iacute;a o Instituci&oacute;n?</h3>
<div>
    <h4>Compa&ntilde;&iacute;a o Instituci&oacute;n</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GetRUT())
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acronym)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acronym)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a asp-action="Index">Volver al listado de Compa&ntilde;&iacute;as e Instituci&oacute;nes</a>
        </div>
    </form>
</div>
