@{
    ViewData["Title"] = Localizer["Environmental Platform"].Value;

    BiblioMit.Models.VM.CSPTag.ConnectSrc.Add("https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/");
    BiblioMit.Models.VM.CSPTag.ConnectSrc.Add("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/");
    BiblioMit.Models.VM.CSPTag.ConnectSrc.Add("https://cdn.jsdelivr.net/npm/choices.js@9.0.1/");
    BiblioMit.Models.VM.CSPTag.ConnectSrc.Add("https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/");
}

@*tested with:
    amcharts v4.1.6 updated to 4.9.20
    marker clusterer v5.0.3*@
<partial name="_GMaps" />
<partial name="_ValidationScriptsPartial" />
<partial name="_AmCharts" model="4" />
<partial name="_LibsPg" model='new List<string> { "@@google/markerclustererplus",
    "choices.js", "@popperjs/core", "tippy.js", "moment.js", "bootstrap-datepicker", "tippy", "rgb2hex" }' />
<partial name="_Loader" />

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4">
            <h2>@Localizer["Parameters"]</h2>
            <div id="parameters" class="row">
                <div class="col-12">
                    <div class="input-group input-daterange">
                        <input id="start" type="text"
                               class="form-control actual_range"
                               value="@ViewData["start"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                @Localizer["to"]
                            </div>
                        </div>
                        <input id="end" type="text"
                               class="form-control actual_range"
                               value="@ViewData["end"]">
                    </div>
                </div>
                <div class="col-12">
                    <select class="choice" id="psmb" multiple>
                        <option value="">@Localizer["Areas"]</option>
                    </select>
                </div>
                <div class="col-12">
                    <select id="variable" class="choice" multiple>
                        <option value="">@Localizer["Variables"]</option>
                    </select>
                </div>
                <div class="col-12 @(User.Identity.IsAuthenticated ? "" : "d-none")">
                    <select id="variables" class="choice" multiple>
                        <option value="">@Localizer["Custom variables"]</option>
                    </select>
                </div>
                <div id="semaforo" class="col @(User.Identity.IsAuthenticated ? "" : "d-none")">
                    <div class="row">
                        <div class="col-12">
                            <select class="choice" id="tl" multiple>
                                <option value="">@Localizer["RAG project"]</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <button id="infobtn" class="btn btn-sm">
                                <i class="fas fa-question-circle fa-tw">
                                    @Localizer["help table for traffic light analysis"]
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <h2>@Localizer["Config"]</h2>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="pin-switch" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">@Localizer["Info Pins"]</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="polygon-switch" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">@Localizer["Polygons"]</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="stat-switch" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">@Localizer["Stats"]</label>
            </div>
        </div>
        <div class="col-11 col-md-7">
            <h2>@Localizer["Map"]</h2>
            <div class="w-100" id="map"></div>
        </div>
    </div>
    <div class="row">
        <h2>@Localizer["Chart"]</h2>
        <div id="chartdiv"></div>
    </div>
    <div class="row">
        <h2>Series</h2>
        <div id="legendwrapper">
            <div id="legenddiv"></div>
        </div>
    </div>
    <br />
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-11">
                <button class="form-control btn btn-sm" id="fetchPlankton">@Localizer["Search Plankton Assays"]</button>
            </div>
            <div class="col-1">
                <button class="form-control btn btn-sm collapse" id="table2excel"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div id="results" class="col-12"></div>
        </div>
        <div id="infotable" class="d-none float-right">
            <table class="small table-striped text-center w-100">
                <tr>
                    <th>@Localizer["Analysis"]</th>
                    <th>PSMB</th>
                    <th>@Localizer["Species"]</th>
                    <th>@Localizer["Size"]</th>
                    <th>@Localizer["Larvae"]</th>
                    <th>@Localizer["Rep. Stg."]</th>
                    <th>@Localizer["Sex"]</th>
                </tr>
                <tr>
                    <th class="text-left">@Localizer["Capture per Species"]</th>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-left">@Localizer["% Species"]</th>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-left">@Localizer["% Size per Species"]</th>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-left">@Localizer["Ave Larvae per Species"]</th>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td></td>
                    <td>&#x2713;</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-left">IG Reproductores</th>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&#x2713;</td>
                </tr>
                <tr>
                    <th class="text-left">% @Localizer["Rep. Stg."]</th>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td></td>
                    <td></td>
                    <td>&#x2713;</td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-left">@Localizer["% Sex"]</th>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&#x2713;</td>
                </tr>
            </table>
        </div>
    }
</div>