@model IEnumerable<BiblioMit.Models.Entry>
@using BiblioMit.Views
@using BiblioMit.Models.Entities.Digest
@{
    ViewData["Title"] = Localizer["Digest"];
    BiblioMit.Models.VM.CSPTag.ScriptSrc.Add("'unsafe-eval'");
}

<partial name="_LibsPg" model='new List<string> { "bootstrap-select", "bootstrap-select-localize", "alasql", "xlsx" }' />
<partial name="_Loader" />

@section NavBar{
    <nav id="navbar-boletin" class="navbar navbar-dark secondary-nav d-block d-lg-none">
        <button class="navbar-toggler collapsed" type="button"
                data-toggle="collapse" data-target="#navbarsExample01"
                aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-brand btn" role="button">@Localizer["Digest"]</button>
        @*<div class="navbar-collapse collapse row" id="navbarsExample02">
                <h1 class="display-4">@Localizer["Source:"]</h1>
                <h1 class="display-4">@Localizer["Data"]:</h1>
                <hr />
            </div>*@
        <div class="navbar-collapse collapse row" id="navbarsExample01">
            <ul class="navbar-nav ml-auto col-6">
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn" role="button"
                            id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-database fa-tw"></i>&nbsp;@Localizer["Data"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        @*<button onclick="$('#dates').trigger('click');" class="dropdown-item btn" role="button">@Localizer["Dates"]</a>*@
                        <button onclick="$('#provinces').trigger('click');" class="dropdown-item btn" role="button" data-toggle="collapse" data-target="#navbarsExample01"><i class="fas fa-chart-pie fa-tw"></i>&nbsp;@Localizer["Provinces"]</button>
                        <button onclick="$('#comunes').trigger('click');" class="dropdown-item btn" role="button" data-toggle="collapse" data-target="#navbarsExample01"><i class="far fa-chart-bar fa-tw"></i>&nbsp;@Localizer["Communes"]</button>
                        <button onclick="$('#months').trigger('click');" class="dropdown-item" role="button" data-toggle="collapse" data-target="#navbarsExample01"><i class="fas fa-chart-line fa-tw"></i>&nbsp;@Localizer["Months"]</button>
                        <button onclick="$('#table').trigger('click');" class="dropdown-item" role="button" data-toggle="collapse" data-target="#navbarsExample01"><i class="fas fa-table fa-tw"></i>&nbsp;@Localizer["Table"]</button>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" role="button"
                            onclick="$('#dates').trigger('click');">
                        <i class="fas fa-calendar-check fa-tw"></i>&nbsp;@Localizer["Dates"]
                    </button>
                </li>
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn" role="button"
                            id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-arrow-down fa-tw"></i>&nbsp;@Localizer["Downloads"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" id="downloadModal" data-toggle="modal" asp-action="Download"
                           data-target="#modal-action">
                            <i class="fas fa-file-pdf fa-tw"></i>&nbsp;@Localizer["Digest"]
                        </a>
                        <button class="dropdown-item btn" role="button" onclick="exportExcel();" data-toggle="collapse"
                                data-target="#navbarsExample01">
                            <i class="fas fa-file-excel fa-tw"></i>&nbsp;@Localizer["Data"]
                        </button>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto col-6 text-right">
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn" role="button"
                            id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-map fa-tw"></i>&nbsp;@Localizer["Farm Production"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <button class="dropdown-item btn" onclick="$('#seeds').trigger('click');" role="button"
                                data-toggle="collapse" data-target="#navbarsExample01">
                            @Localizer["Seeds"]
                        </button>
                        <button class="dropdown-item btn" onclick="$('#harvest').trigger('click');" role="button"
                                data-toggle="collapse" data-target="#navbarsExample01">
                            @Localizer["Harvest"]
                        </button>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn" role="button"
                            id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-map fa-tw"></i>&nbsp;@Localizer["Plant Production"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <button class="dropdown-item btn" onclick="$('#supply').trigger('click');" role="button"
                                data-toggle="collapse" data-target="#navbarsExample01">
                            @Localizer["Supply"]
                        </button>
                        <button class="dropdown-item btn" onclick="$('#production').trigger('click');" role="button"
                                data-toggle="collapse" data-target="#navbarsExample01">
                            @Localizer["Production"]
                        </button>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn" role="button"
                            id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-map fa-tw"></i>&nbsp;@Localizer["Environmental"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <button class="dropdown-item btn" onclick="$('#temperature').trigger('click');" role="button"
                                data-toggle="collapse" data-target="#navbarsExample01">
                            <i class="fas fa-thermometer-quarter fa-tw"></i>&nbsp;@Localizer["Temperature"]
                        </button>
                        <button class="dropdown-item btn" onclick="$('#salinity').trigger('click');" role="button"
                                data-toggle="collapse" data-target="#navbarsExample01">
                            <i class="fas fa-vial fa-tw"></i>&nbsp;@Localizer["Salinity"]
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
}
<div id="js-parameters" 
     data-tp="@((int)DeclarationType.Production)" 
     data-supply="@((int)DeclarationType.Supply)"
     data-average="@Localizer["Average"]"
     data-total="@Localizer["Total"]"
     data-urlgetprovincias="@Html.Raw(Url.Action("GetProvincias","Boletin",
                new { tipo = (int)DeclarationType.Production, year = "YR", start = "STR", end = "END" }, Context.Request.Scheme))"
     data-urlgetxlsx="@Html.Raw(Url.Action("GetXlsx","Boletin",
                    new { year = "YR", start = "STR", end = "END" }, Context.Request.Scheme))"
     data-lang="@(Localizer["en-GB"])"
     data-urlgetfn="@Html.Raw(Url.Action("GetFN","Boletin",
    new { tipo = "TP", year = "YR", start = "STR", end = "END" }, Context.Request.Scheme))"
     data-urlgetattr="@Html.Raw(Url.Action("GetAttr","Boletin",
    new { tp = "TP", lg = Localizer["en"].Value }, Context.Request.Scheme))"
     data-disclaimer0="@Localizer["It is one of the objectives of the National Fisheries and Aquaculture Service to promote public access to information regarding the scope of its competences. In the context of the implementation of the &quot;Mitílidos Regional Strategic Program&quot;, supported by CORFO, the line of action is &quot;to generate productive bulletins to facilitate access to the industry, to the information currently in the field of public sector&quot;. In this sense it is necessary to point out the following:<br/><strong>a)</strong> The Productive Bulletin contains information of a general nature that does not address specific circumstances related to specific persons or bodies.<br/><strong>b)</strong> The Productive Bulletin is supported by the information provided by the owners of the centers of crops and processing plants, therefore, this information is of a declarative nature, and does not compromise any responsibility of the service for its content and dissemination.<br/><strong>c)</strong> The Production Bulletin contains information of a preliminary nature, therefore, it may be modified as long as its publication in the official yearbook is pending.<br/><strong>d)</strong> Additionally, Sernapesca is not responsible for the problems caused by technical errors, nor can it guarantee that this report is issued free of errors."]"
     data-disclaimer1="@Localizer["The mission of Intemit is to increase the competitiveness of Chilean mussel farming, strengthening its value chain from the supply, generating synergies of multidisciplinary-scientific-technological cooperation, through applied research, products and services, with emphasis on the development of solutions, to the main environmental and productive problems of the mitilicultor sector, to provide relevant information that allows making public-private decisions. In this sense it is necessary to point out the following:<br /><strong> a) </strong> The environmental data correspond to a segment of the biooceanographic data that Intemit manages according to the agreements for the use of the information signed by the holders of the area and intemit for the use and administration of the data associated with the bivalve mollusk program.<br /><strong> b) </strong> The environmental data is shown as reported without modification.<br /><strong> c) </strong> Additionally, Intemit is not responsible for problems caused by technical errors, nor can it guarantee that this report is issued free of errors."]"
     ></div>
<div class="container-fluid">
    <div class="row justify-content-end" id="datos-panel">
        <div class="col-10 p-0">
            <div class="row">
                <div id="centres" class="col text-center category border-bottom m-2">@Localizer["Farms"]</div>
                <div id="plants" class="col text-center category border-bottom m-2">@Localizer["Plants"]</div>
                <div id="environmental" class="col text-center category border-bottom m-2">@Localizer["Environmental"]</div>
                <div id="downloads" class="col text-center category border-bottom m-2">@Localizer["Downloads"]</div>
            </div>
            <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
                <li role="presentation" class="nav-item">
                    <button class="nav-link active"
                            id="ex3-tab-1"
                            data-bs-toggle="tab"
                            data-bs-target="#ex3-tabs-1"
                            type="button"
                            role="tab"
                            aria-controls="ex3-tabs-1"
                            aria-selected="true">
                        @Localizer["Seeds"]
                    </button>
                </li>
                <li role="presentation" class="nav-item">
                    <button class="nav-link"
                       id="ex3-tab-2"
                       data-bs-toggle="tab"
                       data-bs-target="#ex3-tabs-2"
                            type="button"
                       role="tab"
                       aria-controls="ex3-tabs-2"
                       aria-selected="false">
                        @Localizer["Harvest"]
                    </button>
                </li>
                <li role="presentation" class="nav-item">
                    <button class="nav-link"
                       id="ex3-tab-2"
                       data-bs-toggle="tab"
                       data-bs-target="#ex3-tabs-2"
                            type="button"
                       role="tab"
                       aria-controls="ex3-tabs-2"
                       aria-selected="false">
                        @Localizer["Supply"]
                    </button>
                </li>
                <li role="presentation" class="nav-item">
                    <button class="nav-link"
                       id="ex3-tab-2"
                       data-bs-toggle="tab"
                       data-bs-target="#ex3-tabs-2"
                            type="button"
                       role="tab"
                       aria-controls="ex3-tabs-2"
                       aria-selected="false">
                        @Localizer["Production"]
                    </button>
                </li>
                <li role="presentation" class="nav-item">
                    <button class="nav-link"
                       id="ex3-tab-2"
                       data-bs-toggle="tab"
                       data-bs-target="#ex3-tabs-2"
                            type="button"
                       role="tab"
                       aria-controls="ex3-tabs-2"
                       aria-selected="false">
                        @Localizer["Temperature"]
                    </button>
                </li>
                <li role="presentation" class="nav-item">
                    <button class="nav-link"
                       id="ex3-tab-2"
                       data-bs-toggle="tab"
                       data-bs-target="#ex3-tabs-2"
                            type="button"
                       role="tab"
                       aria-controls="ex3-tabs-2"
                       aria-selected="false">
                        @Localizer["Salinity"]
                    </button>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" id="downloadModal" data-toggle="modal"
                       asp-action="Download" data-target="#modal-action">
                        <i class="fas fa-file-pdf fa-tw"></i>&nbsp;@Localizer["Digest"]
                    </a>
                </li>
                @*<a id="downloadReport" class="nav-item nav-link btn btn-outline-danger" onclick="exportReport();">
                        <i class="fas fa-file-pdf"></i> @Localizer["Digest"]
                    </a>*@
                <li role="presentation" class="nav-item">
                    <a class="nav-link btn btn-outline-success" role="button" onclick="exportExcel();">
                        <i class="fas fa-file-excel fa-tw alert-success"></i> @Localizer["Data"]
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="config-panel" class="col-auto p-0">
            <nav class="nav nav-pills flex-column" aria-orientation="vertical">
                <button id="dates" data-bs-target="#config" role="tab" type="button" data-bs-toggle="tab"
                   class="nav-link nav-item active" aria-expanded="true" name="Fechas">
                    @Localizer["Dates"]
                </button>
                <button 
                        id="provinces" 
                        data-bs-target="#Provincias" aria-expanded="false"                             type="button"
 role="tab" data-bs-toggle="tab" class="prod nav-link nav-item" name="Provincias">@Localizer["Provinces"]</button>
                <button id="comunes" data-bs-target="#Comunas" aria-expanded="false"                            type="button"
 role="tab" data-bs-toggle="tab" class="nav-link nav-item" name="Comunas">@Localizer["Communes"]</button>
                <button id="months" data-bs-target="#Meses" aria-expanded="false"                             type="button"
role="tab" data-bs-toggle="tab" class="nav-link nav-item" name="Meses">@Localizer["Months"]</button>
                <button id="table" data-bs-target="#Tabla" aria-expanded="false"                            type="button"
 role="tab" data-bs-toggle="tab" class="nav-link nav-item" name="Tabla">@Localizer["Table"]</button>
            </nav>
        </div>
        <div class="col-12 col-md">
            <div class="tab-content container-fluid h-100">
                <div id="config" class="tab-pane active form-horizontal" role="tabpanel">
                    <form id="dtconf">
                        <div class="form-group">
                                <label class="col-12 col-md-6 col-lg-4">@Localizer["Choose year"]</label>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar"></i>
                                            </span>
                                        </div>
                                        <select name="yr" id="year" title="Año"
                                                class="form-control periodo"
                                               asp-items="ViewBag.Year"></select>
                                    </div>
                                </div>
                            </div>
                        <div class="start form-group">
                            <label class="col-12 col-md-6 col-lg-4">@Localizer["Choose first month"]</label>
                            <div class="col-12 col-md-6 col-lg-4">
                                <select name="start" id="start" title="Start" data-size="5"
                                       class="selectpicker form-control periodo"
                                       asp-items="ViewBag.Start"
                                        ></select>
                            </div>
                        </div>
                        <div class="start form-group">
                            <label class="col-12 col-md-6 col-lg-4">@Localizer["Choose final month"]</label>
                            <div class="col-12 col-md-6 col-lg-4">
                                <select name="end" id="end" title="End" data-size="5"
                                       class="selectpicker form-control periodo"
                                       asp-items="ViewBag.End"></select>
                            </div>
                        </div>
                        <select name="tp" id="tp"
                                class="selectpicker d-none"
                                asp-items="ViewBag.Tp"></select>
                    </form>
                </div>
                <partial name="_ChartSection" model='"Provincias"' />
                <partial name="_ChartSection" model='"Comunas"' />
                <partial name="_ChartSection" model='"Meses"' />
                <div id="Tabla" class="tab-pane" role="tabpanel">
                    <div class="row justify-content-end">
                        <div id="constrainer2">
                            <h1 class="category text-center">@Localizer["Table"] - <span class="tt-calc"></span> @Localizer["between"] <span class="tt-range"></span> @Localizer["of"] <span class="tt-year"></span></h1>
                            <h6 class="text-center">(<span class="tt-unit"></span>)</h6>
                            <table id="tbl" class="table table-condensed table-striped report-table">
                                <thead>
                                    <tr class="d-none">
                                        <th>@Localizer["Province"]</th>
                                        <th>@Localizer["Commune"]</th>
                                        <th><span class="tt"></span> <span class="tt-range"></span> <span class="tt-year"></span></th>
                                        <th><span class="tt"></span> <span class="tt-range"></span> <span class="tt-year-1"></span></th>
                                    </tr>
                                    <tr>
                                        <th class="border-0 p-0"></th>
                                        <th class="border-0 p-0"></th>
                                        <th colspan="2" class="text-center border-0 p-0 font-weight-normal"><span class="tt"></span></th>
                                    </tr>
                                    <tr>
                                        <th class="border-top-0">@Localizer["Province"]</th>
                                        <th class="border-top-0">@Localizer["Commune"]</th>
                                        <th class="text-right border-top-0 tbl-btm-orange"><span class="tt-range"></span> <span class="tt-year-1"></span></th>
                                        <th class="text-right border-top-0 tbl-btm-yellow"><span class="tt-range"></span> <span class="tt-year"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var comuna in (IQueryable<CommuneList>)ViewData["Comunas"])
                                    {
                                        <tr>
                                            <td class="text-left">@comuna.Province</td>
                                            <td class="text-left">@comuna.Commune</td>
                                            <td class="dato divideColumnLeft yr-1 @comuna.Commune"></td>
                                            <td class="dato yr @comuna.Commune"></td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="text-right tt-calc font-weight-bold" colspan="2"></td>
                                        <td class="dato divideColumnLeft yr-1 total"></td>
                                        <td class="dato yr total"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 p-0">
            <div id="sidetext" class="row p-4">
                <text class="lh-1 text-justify">
                    <br />
                    <p class="text-right">
                        @Localizer["SOURCE"]: <a id="src-sernapesca" class="src collapse" href="//www.sernapesca.cl/" target="_blank" rel="noopener">
                            <img class="img-fluid mw-100p" src="~/images/ico/sernapesca.svg" asp-append-version="true" />
                        </a>
                        <a id="src-intemit" class="src collapse" href="//www.intemit.cl/" target="_blank" rel="noopener">
                            <img class="img-fluid mw-100p" src="~/images/ico/intemit.min.svg" asp-append-version="true" />
                        </a>
                    </p>
                    <h1 class="category">@Localizer["GLOSSARY"]</h1>
                    <br />
                    <span>
                        <text class="tt text-uppercase font-weight-bold"></text>:
                        <small>
                            <text class="td"></text>
                            <text>
                                @Localizer["The data of"] <span class='tt'></span>, @Localizer["corresponds to the"] <span class="prod">@Localizer["activity of"] <strong><span class='tt'></span> @Localizer["carried by"] <span class='ga'></span> <span class='gt'></span>s @Localizer["and"]</strong></span> <strong>@Localizer["informed to"] <span class="tt-src"></span>, @Localizer["during"] <span class='tt-range'></span> @Localizer["of the year"] <span class='tt-year'></span></strong>.
                            </text>
                        </small>
                    </span>
                    <hr />
                    <h1 class="display-4 font-1em">@Localizer["Disclaimer"]</h1>
                    <span class="tdisc"></span>
                </text>
            </div>
            <hr />
            <div class="row justify-content-around">
                <a class="col" href="//www.mejillondechile.cl/" target="_blank" rel="noopener">
                    <img class="img-fluid mw-80p" src="~/images/ico/mejillondechile.min.png" asp-append-version="true" />
                </a>
                <a class="col" href="//www.corfo.cl/" target="_blank" rel="noopener">
                    <img class="img-fluid mw-80p" src="~/images/ico/corfo.svg" asp-append-version="true" />
                </a>
                <a class="col" href="//www.gob.cl/" target="_blank" rel="noopener">
                    <img class="img-fluid mw-80p" src="~/images/ico/gob.cl.min.png" asp-append-version="true" />
                </a>
            </div>
        </div>
    </div>
</div>


<div aria-labelledby="modal-action-label" role="dialog" tabindex="-1" id="loading" class="modal fade" aria-hidden="true">
    <div class="modal-dialog text-center" role="document">
        <div class="lds-dual-ring"></div>
    </div>
</div>

<partial name="_AmCharts" model="3"/>

@*@section Scripts{
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/xy.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/lang/es.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@0.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.core.min.js"></script>
    <partial name="_BoletinJs" />
}*@