@model BiblioMit.Models.Psmb

@{
    ViewData["Title"] = "Eliminar";
}

<h2>@ViewData["Title"]</h2>

<h3>¿Est&aacute;s seguro que quieres eliminar esto?</h3>
<div>
    <h4>Centro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a asp-action="Index">Volver al listado</a>
        </div>
    </form>
</div>
