@model IEnumerable<Contact>
@using BiblioMit.Models.Entities.Centres
@{
    ViewData["Title"] = "Contactos";
}

<partial name="_LibsPg" model='new List<string> { "bootstrap-select" }' />

<h2>Contactos BiblioMit</h2>

<p>
    <a asp-action="Create">Solicitar el ingreso de mi contacto</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <div class="form-group col-12 col-lg-6">
            <div class="input-group">
                <select name="c" class="selectpicker form-control" multiple=""
                        data-live-search="true" data-actions-box="true" tabindex="-98"
                        value="@ViewData["c"]" title="Filtrar por Región, Provincia o Comuna">
                    <optgroup label="Comunas">
                        @foreach (ContactCommune u in (IQueryable<ContactCommune>)ViewData["comunas"])
                        {
                        <option selected="@((ViewData["c"] as string[]).Contains(Convert.ToString(u.Id)))" 
                                data-subtext="@u.Province"
                                value="@u.Id">@u.Commune</option>
                        }
                    </optgroup>
                </select>
                <span class="input-group-btn">
                    <button type="submit" value="Buscar" class="btn btn-info"><i class="glyphicon glyphicon-filter"></i>  Filtrar</button>
                </span>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="hidden-xs">
                Tipo
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.ConsessionOrResearch.Company.BusinessName) / @Html.DisplayNameFor(model => model.ConsessionOrResearch.CompanyId)
            </th>
            <th class="hidden-xs">
                Centro o Concesi&oacute;n
            </th>
            <th class="hidden-xs">
                Departamento / @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                Contacto
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.ConsessionOrResearch.Address)
            </th>
            @if (User.IsInRole("Manager"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            }
            <th class="hidden-xs"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var acr = "bibliomit";
            var rut = item.ConsessionOrResearch.Company?.GetRUT();
            var companyId = item.ConsessionOrResearch.CompanyId;
            var url = "#";
            var type = item.ConsessionOrResearch?.Discriminator;
            var businessName = item.ConsessionOrResearch.Company.BusinessName;
            var ext = "svg";
            if (!string.IsNullOrWhiteSpace(item.ConsessionOrResearch.Company?.Acronym))
                acr = item.ConsessionOrResearch.Company.Acronym;
            if (type == PsmbType.ResearchCentre)
                url = ((ResearchCentre)item.ConsessionOrResearch).Url.ToString();
            if (acr == "AMICHILE" || acr == "INPESCA")
                ext = "min.png";
            <tr>
                <td class="hidden-xs">
                    @type.ToString()
                </td>
                <td class="hidden-xs">
                    <div class="img-with-text float-left">
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@companyId">
                            <img src="~/images/ico/@acr.@ext" height="50" />
                            <p>
                                <small>
                                    @acr
                                </small>
                            </p>
                        </a>
                    </div>
                    <div class="float-left">
                        @businessName
                        <br />
                        @rut
                        <br />
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@companyId">
                            <small>
                                Detalles
                            </small>
                        </a>
                    </div>
                </td>
                <td class="hidden-xs">
                    @if (type == PsmbType.ResearchCentre)
                    {
                        <a target="_blank" rel="noopener" href="@url">
                            @Html.DisplayFor(modelItem => item.ConsessionOrResearch.Name)
                        </a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ConsessionOrResearchId)
                    }
                    <br />
                    <a asp-controller="Centres" asp-action="Details" asp-route-id="@item.ConsessionOrResearchId">
                        <small>
                            Detalles
                        </small>
                    </a>
                </td>
                <td class="hidden-xs">
                    <strong>@Html.DisplayFor(modelItem => item.Position)</strong><br />@Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div class="hidden-lg hidden-md hidden-sm">
                        <div class="details-row img-with-text float-left text-end pr-1">
                            <a asp-controller="Companies" asp-action="Details" asp-route-id="@companyId">
                                <span class="bibicon bib-@acr">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                    <span class="path5"></span>
                                    <span class="path6"></span>
                                </span>
                            </a>
                            <p>
                                <small>
                                    <a target="_blank" rel="noopener"
                                       href="@url">
                                        <strong>@Html.DisplayFor(modelItem => item.ConsessionOrResearch.Name)</strong>
                                    </a><br />
                                    <a target="_blank" rel="noopener"
                                       href="https://www.google.com/maps/search/?api=1&query=@item.ConsessionOrResearch.Address">
                                        @Html.DisplayFor(modelItem => item.ConsessionOrResearch.Address)
                                    </a>
                                </small>
                            </p>
                        </div>
                        <div class="float-left w-45w">
                            <p class="mb-0">
                                <strong>@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Last)</strong>
                                <br />
                                @Html.DisplayFor(modelItem => item.Description)
                                <br />
                                @Html.DisplayFor(modelItem => item.Email)
                                <br />
                                <a title="Horario: @Html.DisplayFor(modelItem => item.OpenHr) - @Html.DisplayFor(modelItem => item.CloseHr) Hrs" href="tel:+@Html.DisplayFor(modelItem => item.Phone)">@String.Format("{0:(+##) # #### ####}", item.Phone) </a>
                                <br />
                                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs w-100 text-nowrap">
                        <strong>@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Last)</strong>
                        <br />
                        @Html.DisplayFor(modelItem => item.Email)
                        <br />
                        <a title="Horario: @Html.DisplayFor(modelItem => item.OpenHr) - @Html.DisplayFor(modelItem => item.CloseHr) Hrs" href="tel:+@Html.DisplayFor(modelItem => item.Phone)">@String.Format("{0:(+##) # #### ####}", item.Phone) </a>
                    </div>
                </td>
                <td class="hidden-xs" title="Horario: @Html.DisplayFor(modelItem => item.OpenHr) - @Html.DisplayFor(modelItem => item.CloseHr) Hrs">
                    <a target="_blank" rel="noopener" href="https://www.google.com/maps/search/?api=1&query=@item.ConsessionOrResearch.Address">@Html.DisplayFor(modelItem => item.ConsessionOrResearch.Address)</a>
                </td>
                @if (User.IsInRole(BiblioMit.Data.RoleData.Administrator.ToString()))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                <td class="hidden-xs">
                    @if (User.HasClaim(nameof(UserClaims.Contacts), nameof(UserClaims.Contacts)) && (User.IsInRole(nameof(RoleData.Editor)) || User.IsInRole(nameof(RoleData.Administrator)) ) )
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a><text> | </text>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    @if (User.HasClaim(nameof(UserClaims.Contacts), nameof(UserClaims.Contacts)) && (User.IsInRole(nameof(RoleData.Editor)) || User.IsInRole(nameof(RoleData.Administrator)) ) )
                    {
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
