@using Microsoft.AspNetCore.Html

@{
    IHtmlContent body = RenderBody();

    #region scripts
    HtmlString topScript = this.WriteBlocks("TOPScripts");
    HtmlString script = this.WriteBlocks("Scripts");
    #endregion scripts

    if (!ViewData.Keys.Contains("Title"))
    {
        ViewData["controller"] = this.ViewContext.RouteData.Values["controller"]?.ToString();
        ViewData["action"] = this.ViewContext.RouteData.Values["action"]?.ToString();
        ViewData["Title"] = ViewData["controller"] + " " + ViewData["action"];
    }
    if (!ViewData.Keys.Contains("footer-text"))
    {
        ViewData["footer-text"] = "text-dark";
        ViewData["footer-logo"] = "~/epic_hor.svg";
        ViewData["navbar-bg"] = "bg-dark";
    }
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="MSThemeCompatible" content="Yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=5" />
    <title>@ViewData["Title"] - BiblioMit</title>
    <base href="~/" />
    <script src="~/js/gtag.min.js" asp-append-version="true"></script>
    <meta name="author" content="Epic Solutions" />
    <meta name="description" content="@Localizer["Library and digital repository for Mytilus chilensis Mussel species"]" />
    <open-graph-website site-name="BiblioMit"
                        title="@ViewData["Title"]"
                        main-image="@(new OpenGraphImage(
        new Uri($"{Context.Request.Scheme}://{Context.Request.Host}/android-chrome-512x512.png"),
        "image/png",
        1200,
        630))" determiner="@OpenGraphDeterminer.Blank" />
    <script type="application/ld+json">
        @{
            WebSite website = new()
            {
                AlternateName = Localizer["Library and digital repository for Mytilus chilensis Mussel species"].Value,
                Name = "BiblioMit - " + ViewData["Title"],
                Url = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")
            };
            string jsonLd = website.ToString();
        }
        @Html.Raw(jsonLd)
    </script>
    @Html.Raw(new TwitterCardSummaryLargeImage
{
    Title = "BiblioMit",
    Description = Localizer["Library and digital repository for Mytilus chilensis Mussel species"].Value,
    CreatorUsername = "@guille_arp",
    SiteUsername = "@guille_arp"
})
    <environment exclude="Development">
        <script src="~/js/galite.min.js" asp-append-version="true"></script>
        <meta name="google-site-verification" content="g-pGvrm_POLRtvTDGYJTTkKtecLY11qo0zOeNVMY2Eg" />
    </environment>
    <partial name="_Favicons" />

    <link rel="dns-prefetch" href="https://www.google.com">
    <link rel="preconnect" href="https://www.google.com" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.google.cl">
    <link rel="preconnect" href="https://www.google.cl" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.google.co.nz">
    <link rel="preconnect" href="https://www.google.co.nz" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://stats.g.doubleclick.net">
    <link rel="preconnect" href="https://stats.g.doubleclick.net" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://static.xx.fbcdn.net">
    <link rel="preconnect" href="https://static.xx.fbcdn.net" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.facebook.com">
    <link rel="preconnect" href="https://www.facebook.com" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://connect.facebook.net">
    <link rel="preconnect" href="https://connect.facebook.com" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous">

    <link rel="stylesheet preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" as="style" crossorigin="anonymous" type="text/css" />

    <partial name="_TagLibs" model='("TOP", new List<string> { "bootstrap", "@@fortawesome/fontawesome-free", "flags", "jquery", "modernizr-custom", "layout" }, false)' />

    @this.WriteBlocks("TOPStyles")
    @this.WriteBlocks("Styles")
    @RenderSection("Styles", required: false)
    <meta http-equiv="Content-Security-Policy" content="@Html.Raw(BiblioMit.Models.VM.CSPTag.GetString(Context.Request))" />
    <meta http-equiv="Access-Control-Allow-Origin" content="@Html.Raw(BiblioMit.Models.VM.CSPTag.GetAccessControlString())" />
    @{ BiblioMit.Models.VM.CSPTag.Start(); }
</head>
<body>
    <header>
        @await Component.InvokeAsync("Nav")
        @RenderSection("NavBar", required: false)
        @this.WriteBlocks("Headers")
        @RenderSection("Headers", required: false)
    </header>
    <main role="main">
        <div class="body-content container-fluid">
            <partial name="_CookieConsentPartial" />
            <environment exclude="Development">
                <!-- Messenger Chat Plugin Code -->
                <div id="fb-root"></div>

                <!-- Your Chat Plugin code -->
                <div id="fb-customer-chat" class="fb-customerchat"
                     attribution=setup_tool
                     page_id="1350128371792150"
                     theme_color="#20cef5"
                     logged_in_greeting="@Localizer["Hi! How can we assist you?"]"
                     logged_out_greeting="@Localizer["Thank you for chatting with us"]"
                     greeting_dialog_display="fade"
                     greeting_dialog_delay="4">
                </div>
                <script src="~/js/facebookChat.min.js" asp-append-version="true"></script>
            </environment>
            @body
            <partial name="_Modal" model='new BootstrapModel { Id = "modal-action", AreaLabeledId = "modal-action-label", Size = ModalSize.Medium }' />
        </div>
    </main>
    <footer class="fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-center">
                    <a target="_blank" href="https://www.epicsolutions.cl" rel="noopener" class="@ViewData["footer-text"] btn">
                        <img src="@ViewData["footer-logo"]" alt="epic solutions" class="img-responsive" height="15" asp-append-version="true" /> &copy; @DateTime.Now.Year - BiblioMit
                    </a>
                </div>
                <div class="col-6 text-center">
                    <a asp-controller="Home" asp-action="Analytics" class="@ViewData["footer-text"] btn">
                        <i class="fas fa-poll fa-fw"></i>&emsp;@Localizer["Total number of visits"]&emsp;<span id="counter"></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    @this.WriteBlocks("TOPScripts")
    @*@topScript*@
    @RenderSection("ScripTop", required: false)
    @this.WriteBlocks("Scripts")
    @*@script*@
    @RenderSection("Scripts", required: false)
</body>
</html>
